Project:{{projectName}}
  {{explanationText}}. View full details at {{url}}.
Error Message:
  {{eventMessage}}
Where:
  {{eventContext}}
Stacktrace:
{{#eventTrace}}  - {{file}} at {{lineNumber}}{{/eventTrace}}