<html>
  <head>
  </head>
  <body style="font-size:13px;line-height:1.231;font-family:sans-serif;color:#222;font-family:'Lucida Grande','Verdana',sans-serif;-webkit-font-smoothing:antialiased">
    <div style="display:block;margin:0px;margin-bottom:10px;padding-bottom:3px;border-bottom:1px solid #ddd;">
      <h5 style="display:inline;font-size:1.2em;color:#666;">{{eventClass}} <span style="font-weight:normal;">in</span> {{eventContext}}</h3>
    </div>
    {{explanationText}} <a style="font-size:1.0em;font-weight:normal;" href={{url}}>Click here to view on bugsnag.com</a>
    {{#eventMessage}}
      <h5 style="margin-top:25px;font-size:1.2em;color:#666;padding-bottom:3px;margin-bottom:10px;border-bottom:1px solid #ddd;">Error Message</h5>
      <p>{{eventMessage}}</p>
    {{/eventMessage}}
    
    {{#inProjectStack}}
      <h5 style="margin-top:25px;font-size:1.2em;color:#666;padding-bottom:3px;margin-bottom:10px;border-bottom:1px solid #ddd;">First in project stack frame</h5>
      <p style="padding:0px;padding-left:30px;font-family:'Monaco',Courier New,monospace;font-size:12px;line-height:20px;font-weight:bold;">{{file}}:{{lineNumber}} <span style="padding:0 2px;font-family:sans-serif">&bull;</span> {{method}}<p>
    {{/inProjectStack}}

    <h5 style="margin-top:25px;font-size:1.2em;color:#666;padding-bottom:3px;margin-bottom:10px;border-bottom:1px solid #ddd">Full Stacktrace</h5>
    <ul style="list-style:none;margin:0;padding:0;">
      {{#eventTrace}}{{#inProject}}<b>{{/inProject}}<li style="padding-bottom:6px;padding-left:30px;font-family:'Monaco',Courier New,monospace;font-size:12px;line-height:20px;">{{file}}:{{lineNumber}} <span style="padding:0 2px;font-family:sans-serif">&bull;</span> {{method}}</li>{{#inProject}}</b>{{/inProject}}{{/eventTrace}}
    </ul>
  </body>
</html>