<html>
  <head>
  </head>
  <body style="font-size:13px;line-height:1.231;font-family:sans-serif;color:#222;font-family:'Lucida Grande','Verdana',sans-serif;-webkit-font-smoothing:antialiased">
    <h3 style="margin:0;font-size:1.2em;margin-bottom:3px;padding-top:3px;color:#444;padding-bottom:3px;margin-bottom:20px;border-bottom:1px solid #ddd;">{{triggerText}} in project {{projectName}}</h3>
    <dl>
      <dt style="font-weight:bold;font-size:1.2em;">Type:</dt>
        <dd>{{eventClass}}</dd>
      {{#eventMessage}}
      <dt style="font-weight:bold;font-size:1.2em;">Message:</dt>
        <dd>{{eventMessage}}</dd>
      {{/eventMessage}}
      <dt style="font-weight:bold;font-size:1.2em;">Location:</dt>
        <dd>{{eventContext}}</dd>
      <dt style="font-weight:bold;font-size:1.2em;">Received:</dt>
        <dd>{{eventReceived}}</dd>
    </dl>
    <a href=http://www.bugsnag.com/projects/{{projectSlug}}/errors/{{errorId}}>Click here to view on bugsnag.com</a>
    
    {{#inProjectStack}}
      <h5 style="margin:0;font-size:1.2em;color:#666;padding-bottom:3px;margin-bottom:20px;border-bottom:1px solid #ddd; margin-top: 10px;">First in project stack frame</h5>
      <p style="padding:6px 0;padding-left:30px;font-family:'Monaco',Courier New,monospace;font-size:12px;line-height:20px;font-weight:bold;">{{file}}:{{lineNumber}} <span style="padding:0 2px;font-family:sans-serif">&bull;</span> {{method}}<p>
    {{/inProjectStack}}

    <h5 style="margin:0;font-size:1.2em;color:#666;padding-bottom:3px;margin-bottom:20px;border-bottom:1px solid #ddd">Full Stacktrace</h5>
    <ul style="list-style:none;margin:0;padding:0;">
      {{#eventTrace}}{{#inProject}}<b>{{/inProject}}<li style="padding:6px 0;padding-left:30px;font-family:'Monaco',Courier New,monospace;font-size:12px;line-height:20px;">{{file}}:{{lineNumber}} <span style="padding:0 2px;font-family:sans-serif">&bull;</span> {{method}}</li>{{#inProject}}</b>{{/inProject}}{{/eventTrace}}
    </ul>
  </body>
</html>