Project:{{projectName}}
  {{explanationText}}. View full details at http://www.bugsnag.com/projects/{{projectSlug}}/errors/{{errorId}}.
Error Message:
  {{eventMessage}}
Where:
  {{eventContext}}
Stacktrace:
{{#eventTrace}}  - {{file}} at {{lineNumber}}{{/eventTrace}}